<div class="answer-conteiner">
  <h1>Stupid Coaching</h1>
  <div class="coach-answer">
    <p><%= @answer %></p>
  </div>
  <div class="link">
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>



